﻿@page
@model Carsties.IdentityService.Provider.Pages.ResetPassword.Index
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>
<h4>Reset your password.</h4>
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="All" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <input asp-for="Input.Token" type="hidden" class="form-control"  />
            <input asp-for="Input.Email" type="hidden" class="form-control" />
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Reset</button>
            </div>

    </form>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
