﻿@page
@model Carsties.IdentityService.Provider.Pages.ForgotPasswordConfirmation.Index
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>
