﻿@page
@model Carsties.IdentityService.Provider.Pages.ConfirmEmail.Index
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email. Please
<a href="@ViewData["ReturnUrl"]">click here to navigate to the Home page
    </p>
</div>
