﻿@page
@model Carsties.IdentityService.Provider.Pages.ResetPasswordConfirmation.Index
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. Please <a asp-page="../Login/Index">click here to log in</a>.
</p>
