﻿@page
@model Carsties.IdentityService.Provider.Pages.TwoStepsVerification.Index
@{
  ViewData["Title"] = "Two-step Verification";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl=@Model.ReturnUrl>
            <input asp-for="Input.RememberLogin" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.TwoFactorCode"></label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberLogin">
                        <input asp-for="Input.RememberLogin" />
                        @Html.DisplayNameFor(m => m.Input.RememberLogin)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </form>
    </div>
</div>
@* <p>
    Don't have access to your authenticator device? You can
    <a asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
</p> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
